header {
    background-color:#1B2330;
    background-image: url(https://res.cloudinary.com/dqo8icjui/image/upload/v1723411974/Landing_Page/ajzcetj6uktjvp1rrzpd.svg);
    background-size: cover; /* La imagen cubre todo el header */
    background-position: center; /* La imagen se centra en el header */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative; /* Para posicionar el contenido encima de la imagen */
    
    color: white; /* Color del texto en blanco para que sea visible */
     
}
header .content {
    position: relative; /* Posiciona el contenido relativo al header */
    z-index: 2; /* Asegura que el contenido esté sobre la imagen de fondo */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Añade espacio alrededor del texto */
}

.img-inicio{
    width: 50%;
}

.btn-header {
    width: 25%;
}

main {
    background-color: #181E2A;
    padding-bottom: 250px;
    position: relative;
}


.fondo-subsecciones {
    background-color: #2e3d5a;
    width: 80%;
    z-index: 2; /* Asegúra de que esté encima de la imagen */
    position: relative; /* Para aplicar el z-index correctamente */
}

.comillas {
    position: absolute;
    left: 3%;
    z-index: 1; /* Asegúra que este detrás de las subsecciones */
}

.seccion-flotante {
    position: absolute;
    bottom: -8%;
    right: 25%;
    background-color: #21293C;
    width: 50%;
    box-shadow: 0 8px 12px rgba(28, 34, 58, 5); /* Añade una sombra */
    border-radius: 20px; /* Bordes redondeados */
}

.seccion-flotante-hijo {
    text-align: center;
    padding: 40px;
}

.btn-main {
    width: 75%;
}

.custom-img-size {
    width: 20%;
}

.parrafos {
    font-size: 0.8rem;
    text-align: center;
}

.subparrafos {
    font-size: 0.5rem;
}

/* Estilos para la imagen */
.rounded-image {
    border-radius: 50%; /* Borde redondeado */
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Alto de la imagen */
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
}

.imagen-intermedia {
    width: 65%;
    height: 65%;
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
}

footer {
    padding-top: 150px;
    background-color: #0C1524;
}


.btn-header {
    width: 75%;
}

h1 {
    text-align: center;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.img-inicio {
    width: 100%;
}

.seccion-flotante {
    position: absolute;
    bottom: -5%;
    right: 5%;
    background-color: rgba(28, 34, 48, 255);
    height: 13%;
    width: 90%;
}

/*MEDIA QUERYS*/
/* Alineación del Navbar a la derecha en dispositivos móviles */
@media (max-width: 576px) {
    nav {
        display: flex;
        justify-content: flex-end; /* Alinea los elementos a la derecha */
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    nav ul li {
        display: inline-block;
    }
    
    /* Centrando los íconos del footer */
    .icon-container {
        margin-left:  30%;
    }
    

    .comillas{
        left: 6%;
        bottom:30%;
    }
}

/* Adaptaciones para pantallas más grandes */
@media (min-width: 576px) {
    .btn-header {
        width: 50%;
    }

    .img-inicio {
        width: 75%;
    }

    .seccion-flotante {
        width: 70%;
        bottom: -5%;
        right: 15%;
    }
}

@media (min-width: 768px) {
    .btn-header {
        width: 40%;
    }

    .img-inicio {
        width: 60%;
    }

    .seccion-flotante {
        width: 60%;
        bottom: -5%;
        right: 20%;
    }
}

@media (min-width: 992px) {
    .btn-header {
        width: 30%;
    }

    .img-inicio {
        width: 50%;
    }

    .seccion-flotante {
        width: 50%;
        bottom: -8%;
        right: 25%;
    }
}
